/**
 * Last updated: 07/01/2016
 */

/**
 * Global
 */

body.login.hocwp {
    background-color: #f1f1f1;
    font-family: arial, lucinda, verdana, geneva, sans-serif;
}

body.login.hocwp div#login h1 a {
    background-image: none;
    height: auto;
    text-indent: inherit;
    width: auto;
}

body.login.hocwp div#login h1 a img {
    max-height: 150px;
    max-width: 100%;
    width: auto;
}

body.login.hocwp div#login {
    padding-top: 2%;
}

body.login.hocwp form label {
    font-weight: 400;
}

body.login.hocwp form input[type="radio"],
body.login.hocwp form input[type="checkbox"] {
    display: inline-block;
    margin-top: 0;
    vertical-align: -3px;
}

body.login.hocwp form input[type="text"] {
    width: 100%;
}

body.login.hocwp #login form p.submit {
    clear: both;
    display: block;
    height: auto;
    overflow: hidden;
    padding: 10px 0 0;
}

body.login.hocwp #login form p.submit .btn,
body.login.hocwp #login form p.submit .button {
    clear: both;
    display: block;
    font-size: 16px;
    height: auto;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

body.hocwp.login #backtoblog {
    display:none
}

body.hocwp.login #nav {
    padding: 0;
}

body.hocwp.login #nav {
    color: rgba(0, 0, 0, 0);
}

body.hocwp.login #nav a {
    background-repeat: no-repeat;
    background-size: 16px auto;
    color: #33b5e6;
    display: inline-block;
    margin-right: 10px;
}

body.hocwp.login #nav a {
    background-image: url("../images/icon-login-16.png");
    background-position: left 2px;
    padding-left: 22px;
}

body.hocwp.login #nav .lostpassword {
    background-image: url("../images/icon-lost-password-24.png");
    background-position: left center;
    background-size: 16px auto;
    padding-left: 22px;
}

body.hocwp.login #nav .register {
    background-image: url("../images/icon-register-16.png");
    background-position: left 1px;
    padding-left: 20px;
}

body.hocwp.login input.hocwp-captcha-code {
    font-size: 13px;
}