/**
 * Last updated: 04/03/2016
 */

/**
 * Option form
 */

.hocwp.term-field th,
.hocwp .form-table th {
    font-weight: 600;
    line-height: 1.3;
    padding: 20px 10px 20px 0;
    text-align: left;
    vertical-align: top;
    width: 200px;
}

.hocwp form input[type="radio"],
.hocwp form input[type="checkbox"] {
    display: inline-block;
    margin-top: 0;
    vertical-align: -5px;
}

.hocwp.term-field td,
.hocwp .form-table td {
    line-height: 1.3;
    margin-bottom: 9px;
    padding: 15px 10px;
    vertical-align: middle;
}

.hocwp.option-page .form-table {
    table-layout: fixed;
}

/**
 * Widgets
 */

.hocwp-widget .widefat {
    display: block;
    width: 100%;
}

.hocwp-widget label + .media-preview img {
    margin-top: 2px;
}

.hocwp-fieldset {
    border: 1px solid #ddd;
    padding: 10px;
}

.hocwp-fieldset legend {
    line-height: 11px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/**
 * Meta box
 */

.hocwp-meta-box label {
    display: inline-block;
    padding-right: 20px;
    width: 20%;
}

.hocwp-meta-box label.full-width {
    padding-right: 0;
    width: auto;
}

.hocwp-meta-box label.vertical-align-top {
    vertical-align: top;
}

.hocwp-meta-box textarea {
    width: 65%;
}

.hocwp-meta-box label:first-letter {
    text-transform: uppercase;
}

.hocwp-meta-box .meta-row {
    padding: 10px 0;
}

.hocwp-meta-box div.meta-row input[type="checkbox"],
.hocwp-meta-box div.meta-row input[type="radio"] {
    margin-top: 0;
}

.hocwp-meta-box .hocwp-field-group {
    margin-bottom: 10px;
}

.hocwp-meta-box input.regular-text {
    max-width: 100%;
}

.hocwp.server-information .postbox table {
    table-layout: fixed;
    width: 100%;
}

.hocwp.server-information .postbox td {
    padding: 5px 0;
    width: 50%;
}

.hocwp.server-information .postbox td.label {
    vertical-align: top;
    width: 30%;
}

.hocwp.server-information .postbox td.label:after {
    content: ":";
}

/**
 * Option Page
 */

.hocwp.option-page {
    padding-top: 25px;
}

.hocwp.option-page > .page-title {
    display: none;
}

.hocwp.option-page .page-header {
    background-color: #8ac843;
    border-bottom: 3px solid #eb242b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    padding: 15px;
}

.hocwp.option-page .page-header .theme-name {
    color: #fff;
    float: left;
    font-size: 23px;
    margin: 0 15px 0 0;
}

.hocwp.option-page .page-header .theme-version {
    line-height: 55px;
    opacity: 0.75;
}

.hocwp.option-page .copyright {
    text-align: center;
}

.hocwp.option-page .copyright a {
    text-decoration: none;
}

.hocwp.option-page .page-content {
    background-color: #f3f3f3;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    overflow: hidden;
}

.hocwp.option-page .page-footer {
    background-color: #eee;
    border-color: #e7e7e7 #d5d5d5 #d5d5d5;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 10px;
}

.hocwp.option-page .page-footer p {
    color: #999;
    margin: 0;
}

.hocwp.option-page .page-content .sidebar {
    float: left;
    min-height: 100px;
    position: relative;
    width: 220px;
}

.hocwp.option-page .page-content .sidebar + .main {
    background-color: #fcfcfc;
    border-left: 1px solid #d8d8d8;
    box-sizing: border-box;
    float: left;
    min-height: 100px;
    overflow: hidden;
    padding: 0 20px;
    width: calc(100% - 220px);
}

.hocwp.option-page .page-content .sidebar .list-tabs {
    margin: 10px 0 0;
    padding: 0;
}

.hocwp.option-page .page-content .sidebar .list-tabs li {
    margin: 0;
}

.hocwp.option-page .page-content .sidebar .list-tabs li a {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #f9f9f9;
    color: #555;
    display: block;
    padding: 10px 4px 10px 14px;
    text-decoration: none;
}

.hocwp.option-page .page-content .sidebar .list-tabs li:first-child {
    border-top: 1px solid #e7e7e7;
}

.hocwp.option-page .page-content .sidebar .list-tabs li:last-child {
    border-bottom: 1px solid #f9f9f9;
}

.hocwp.option-page .page-content .sidebar .list-tabs li.active a {
    background-color: #fcfcfc;
    border-left: 2px solid #8ac843;
    border-right: 1px solid #fcfcfc;
    box-shadow: none;
    cursor: auto;
    font-weight: 700;
    margin-right: -1px;
    outline: 0 none;
}

.hocwp.option-page .page-content .sidebar .list-tabs li:not(.active):hover a {
    background-color: #e5e5e5;
    border-left: medium none;
    cursor: pointer;
    margin: 0;
}

.hocwp.option-page .page-content .sidebar .list-tabs li,
.hocwp.option-page .page-content .sidebar .list-tabs li a:focus,
.hocwp.option-page .page-content .sidebar .list-tabs li a:active {
    box-shadow: none;
    outline: 0 none;
}

.hocwp .plugin-card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#nav > h2::after {
    clear: both;
    content: "";
    display: table;
}

/**
 * Sortable
 */

.hocwp-sortable {
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    float: left;
    margin: 0 20px 0 0;
    min-height: 200px;
    padding: 10px;
    width: 45%;
}

.hocwp-sortable:nth-child(2) {
    margin-right: 0;
}

.hocwp-sortable.connected-result {
    background-color: #fbf9ef;
    border-color: #fcefa1;
}

.hocwp-sortable li {
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
}

.hocwp-sortable li:last-child {
    margin-bottom: 0;
}

.hocwp-sortable li.ui-state-highlight {
    background-color: #fcf8e3;
    border-color: #ffee92;
}

/**
 * Bootstrap
 */

.hocwp .btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.hocwp div.bs-callout-warning,
.hocwp .bs-callout-warning {
    border-left-color: #aa6708;
}

.hocwp div.bs-callout-danger,
.hocwp .bs-callout-danger {
    border-left-color: #ce4844;
}

.hocwp div.bs-callout-info,
.hocwp .bs-callout-info {
    border-left-color: #1b809e;
}

/**
 * Media upload
 */

.hocwp-meta-box .media-preview,
.hocwp .media-preview,
.hocwp-widget .media-preview {
    display: block;
}

.hocwp-meta-box .media-preview img,
.hocwp-widget .media-preview img,
.hocwp .media-preview img {
    margin-bottom: 10px;
    max-height: 150px;
    max-width: 100%;
    width: auto;
}

.hocwp-widget .media-preview + input,
.hocwp .media-preview + input {
    display: inline-block;
    height: 28px;
    margin-right: 5px;
}

.hocwp-widget .media-preview + input,
.hocwp .media-preview + input {
    max-width: 80%;
    width: 60%;
}

.edit-tags-php .hocwp .media-preview + input {
    width: 60%;
}

.hocwp-widget .media-preview + input {
    width: 75%;
}

.hocwp-widget .media-preview + input {
    height: 29px;
}

.hocwp-meta-box .media-preview img,
.hocwp-widget .media-preview img {
    max-height: 315px;
}

/**
 * Chosen select
 */

.hocwp-widget .chosen-container .chosen-choices {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    padding: 2px 5px;
}

.hocwp-widget .chosen-container-multi .chosen-choices li.search-choice {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
}

.hocwp-widget .hocwp-widget-field {
    margin: 1em 0;
}

.hocwp-widget .hocwp-widget-field label {
    line-height: 1.5;
    vertical-align: middle;
}

/**
 * Recommended Plugins
 */

.hocwp .wp-filter {
    margin-bottom: 0;
}

.hocwp .plugin-icon {
    height: 128px;
    left: 20px;
    margin: 0 20px 20px 0;
    position: absolute;
    top: 20px;
    width: 128px;
}

.hocwp .widefat a {
    text-decoration: none;
}