/**
 * Last updated: 21/04/2016
 */

.hocwp-maintenance {
    background: #fff no-repeat fixed center center;
    background-size: cover;
    font-family: arial, Tahoma, sans-serif;
    font-size: 200%;
    line-height: 38px;
    text-align: center;
}

.hocwp-maintenance {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hocwp-maintenance .heading {
    font-size: 50px;
    margin-bottom: 25px;
    margin-top: 150px;
}

.hocwp-maintenance .site,
.hocwp-maintenance .site .site-inner,
.hocwp-maintenance .site .site-inner .site-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}