@font-face {
    font-family: "UTM Bebas";
    src: url('../fonts/UTM_Bebas.eot');
    src: url('../fonts/UTM_Bebas.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UTM_Bebas.ttf') format('truetype'),
    url('../fonts/UTM_Bebas.woff') format('woff');
}

a:focus {
    outline: 0 none;
}

.secondary-menus .hocwp-menu li a,
.primary-menus .hocwp-menu li a {
    font-family: "UTM Bebas", Tahoma;
}

body {
    color: #333;
    font-family: Tahoma;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

.container {
    padding: 0;
    width: 1000px;
}

.top-socials ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 15px;
}

.top-socials li .fa,
.top-socials li a {
    color: #ec5f5f !important;
}

.top-socials li .fa {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    font-size: 19px;
}

.top-socials ul li {
    margin-left: 15px;
    padding: 0;
}

.top-socials ul li:first-child {
    margin-left: 0;
}

.primary-menus {
    background: #ec5f5f none repeat scroll 0 0;
    height: 57px;
    margin-top: 4px;
}

.secondary-menus .hocwp-menu,
.primary-menus .hocwp-menu {
    width: 100%;
}

.site-footer .footer-menus li,
.secondary-menus .hocwp-menu li,
.primary-menus .hocwp-menu li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.site-footer .footer-menus li a,
.secondary-menus .hocwp-menu li a,
.primary-menus .hocwp-menu li a {
    border: medium none;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.primary-menus .hocwp-menu li a {
    font-size: 23px;
    line-height: 57px;
    padding: 0 16px;
}

.primary-menus .hocwp-menu li:hover,
.primary-menus .hocwp-menu li.current-menu-item {
    background: #ef7474 none repeat scroll 0 0;
}

.primary-menus .hocwp-menu li.logo,
.primary-menus .hocwp-menu li.search {
    background: transparent none repeat scroll 0 0 !important;
}

.secondary-menus .hocwp-menu .sub-menu,
.primary-menus .hocwp-menu .sub-menu {
    display: none;
}

.primary-menus .hocwp-menu li.search {
    padding-right: 15px;
    padding-top: 14px;
    width: 180px;
}

.primary-menus .search-form {
    background: rgba(0, 0, 0, 0) url("../images/bg-search.png") no-repeat scroll 0 0;
    height: 29px;
    position: relative;
    width: 163px;
}

.primary-menus .search-form .search-field {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #a19f9f;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 29px;
    padding-left: 5px;
    padding-right: 35px;
}

.primary-menus .search-form .search-submit {
    background: transparent none repeat scroll 0 0 !important;
    border: medium none;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
}

.primary-menus .hocwp-menu .logo a.img-hyperlink {
    padding: 0;
}

.primary-menus .hocwp-menu .logo a.img-hyperlink {
    height: 57px;
    margin-right: 5px;
    position: relative;
    width: 200px;
}

.primary-menus .hocwp-menu .logo a img {
    bottom: 0;
    left: -20px;
    max-height: 80px;
    max-width: 220px;
    position: absolute;
    z-index: 399;
}

.secondary-menus {
    background: #504f4f none repeat scroll 0 0;
    height: 40px;
}

.secondary-menus .hocwp-menu li a {
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
}

.secondary-menus .hocwp-menu li:hover,
.secondary-menus .hocwp-menu li.current-menu-item {
    background: #646464 none repeat scroll 0 0;
}

.content-area {
    float: left;
    width: 690px;
}

.sidebar {
    float: right;
    width: 300px;
}

.site-content {
    margin-top: 15px;
}

.top-banner {
    margin-top: 15px;
}

.site-content .col-left {
    width: 400px;
}

.site-content .col-right {
    width: 278px;
}

.four-recent-posts .post {
    margin-bottom: 15px;
    position: relative;
}

.four-recent-posts .post .entry-title {
    background: rgba(0, 0, 0, 0) none repeat-x scroll left bottom;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 399;
}

.four-recent-posts .post .entry-title a {
    color: #fff;
    display: table-cell;
    padding: 10px 15px;
    text-decoration: none;
    vertical-align: middle;
}

.four-recent-posts .post:first-child .entry-title {
    text-shadow: 1px 1px 0 #000;
}

.four-recent-posts .post:last-child {
    margin-bottom: 0;
}

.four-recent-posts .col-right .post .entry-title a,
.four-recent-posts .col-left .post .entry-title a {
    font: 700 17px/24px Tahoma;
}

.four-recent-posts .col-left .post:first-child .entry-title a {
    font: 700 21px/30px Tahoma;
}

.four-recent-posts .col-left .post:first-child .entry-title {
    background-image: url("../images/bg-title-red.png");
}

.four-recent-posts .col-right .post:first-child .entry-title {
    background-image: url("../images/bg-title-green.png");
}

.four-recent-posts .post:last-child .entry-title {
    background-image: url("../images/bg-title-black.png");
}

.four-recent-posts .col-right .post:first-child .entry-title a {
    font: 700 18px/24px Tahoma;
}

.four-recent-posts {
    margin-bottom: 15px;
}

.four-recent-posts .col-right .hocwp-post:first-child .wp-post-image,
.four-recent-posts .col-left .hocwp-post:first-child .wp-post-image {
    height: 262px;
}

.four-recent-posts .col-right .hocwp-post:nth-child(2) .wp-post-image,
.four-recent-posts .col-left .hocwp-post:nth-child(2) .wp-post-image {
    height: 163px;
}

.six-recent-posts .post {
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 192px;
}

.six-recent-posts .post:nth-child(even) {
    margin-left: 15px;
}

.six-recent-posts .post:nth-child(odd) {
    clear: both;
}

.six-recent-posts .post .entry-title {
    float: left;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
    padding: 5px 0 3px;
}

.six-recent-posts .post .entry-title a {
    color: #242424;
    text-decoration: none;
}

.six-recent-posts .post .entry-title a:hover {
    color: #ec5f5f;
}

.list-sidebar-posts li {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    margin: 0 10px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.list-sidebar-posts li a {

}

.list-sidebar-posts li .post {
    margin: 0;
    width: 100%;
}

.list-sidebar-posts li .wp-post-image {
    border: 1px solid #d3d1d1;
    float: left;
    height: 46px;
    margin-right: 10px;
    padding: 2px;
    width: 74px;
}

.list-sidebar-posts li .post .entry-title {
    float: none;
    padding: 0;
}

.list-sidebar-posts li:first-child {
    border-top: medium none;
}

.list-sidebar-posts li:last-child {
    border-bottom: medium none;
}

.hocwp-post .icon-play {
    background: rgba(0, 0, 0, 0) url("../images/icon-play-small.png") no-repeat scroll 0 0;
    height: 26px;
    left: 50%;
    margin-left: -13px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 299;
}

.experience-news .hocwp-post .icon-play {
    background-size: 27px 26px;
    height: 26px;
    left: 25px;
    margin-left: 0;
    width: 27px;
}

.hocwp-post.icon-play-medium .icon-play {
    background-image: url("../images/icon-play-medium.png");
    height: 65px;
    margin-left: -32px;
    margin-top: -32px;
    width: 65px;
}

.hocwp-post.icon-play-medium.with-text .icon-play {
    margin-top: -55px;
}

.experience-news ul {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #e4e3e3;
    float: left;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
}

.experience-news > h2 {
    background: #dedede none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    height: 33px;
    line-height: 33px;
    margin: 0;
    width: 100%;
}

.experience-news > h2 span {
    background-position: -154px 0;
    float: left;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 14px;
}

.experience-news > h2 a {
    color: #8c8d8c;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.loop-default li {
    background: #f4f3f3 none repeat scroll 0 0;
    border: 1px solid #ededed;
    float: left;
    margin-top: 15px;
    position: relative;
    transition: opacity 0.8s ease-in 0s;
    width: 100%;
}

.loop-default li .wp-post-image {
    float: left;
    height: 200px;
    margin-right: 15px;
    width: 310px;
}

.loop-default li .post .entry-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 15px;
    padding-top: 7px;
}

.loop-default .hocwp-post.icon-play-medium .icon-play {
    left: 0;
    margin-left: 130px;
}

.loop-default li .post .entry-title a {
    color: #393838;
    text-decoration: none;
}

.loop-default li .post .entry-title a:hover {
    color: #ec5f5f;
}

.loop-default li .post p {
    color: #7f7d7d;
    font-size: 13px;
    line-height: 16px;
    margin: 10px 15px 0;
}

.loop-default li .post .post-meta,
.loop-default li .post .post-meta a {
    color: #7f7d7d;
}

.loop-default li .post .post-meta a {
    text-decoration: none;
}

.loop-default li .post .post-meta a {
    color: #c71b28;
    font-weight: 700;
}

.home .more-recent > h2 {
    background: #c6c5c5 none repeat scroll 0 0;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    width: 100%;
}

.home .more-recent > h2 a {
    background: #d21a32 none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 137px;
}

.hocwp .hocwp-pagination {
    background: rgba(0, 0, 0, 0) url("../images/bg-pagination.png") repeat-x scroll 0 0;
    color: #606060;
    float: left;
    height: 41px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.hocwp .hocwp-pagination .item {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    border-style: solid;
    border-width: 3px 1px 0;
    color: #5f5f5f;
    display: inline-block;
    font-weight: 700;
    line-height: 17px;
    margin-top: -2px;
    padding: 10px 16px;
}


.hocwp .hocwp-pagination .item.current-item,
.hocwp .hocwp-pagination .link-item:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #000 #d7d7d7;
}

.hocwp .sidebar .widget .widget-title {
    background-color: #cdcdcd;
}

.hocwp .sidebar .widget .widget-title span {
    background-color: #ce1328;
    color: #ebebeb;
    display: inline-block;
    font: 700 14px/24px tahoma;
    height: 25px;
    padding: 0 8px;
}

.hocwp .sidebar .widget .widget-title + * {
    border: medium none;
    padding: 0;
}

.sidebar .loop-post-full .post .entry-title {
    display: block;
    font: 700 16px/20px tahoma;
    margin-bottom: 0;
    margin-top: 5px;
    position: relative;
}

.sidebar .loop-post-full .post .entry-title a {
    color: #474646;
    text-decoration: none;
}

.sidebar .loop-post-full .post .entry-title a:hover {
    color: #ec5f5f;
}

.sidebar .loop-post-full .post p {
    color: #737070;
    margin-top: 10px;
}

.sidebar .loop-post-full .post p:last-child {
    margin-bottom: 0;
}

.sidebar .widget .loop-post-full li {
    border: medium none;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.new-information .page-info h1 {
    font: 700 22px/30px arial;
    margin-top: 10px;
}

.new-information .page-info h1 span {
    color: #cd3042;
    text-transform: capitalize;
}

.new-information .page-meta {
    color: #6f6f6f;
    font: 11px/26px Tahoma;
}

.loop-new-information li {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    margin: 10px 0 0;
}

.loop-new-information li .post {

}

.loop-new-information li .post .wp-post-image {
    float: left;
    height: auto;
    margin-right: 20px;
    width: 220px;
}

.loop-new-information li .post .entry-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    margin: 10px 0 0;
}

.loop-new-information li .post .entry-title a {
    color: #222;
    text-decoration: none;
}

.loop-new-information li .post .entry-title a:hover {
    color: #ec5f5f;
}

.loop-new-information li .post .post-meta {
    color: #8f8e8e;
    font-size: 11px;
}

.loop-new-information li .post p {
    margin-bottom: 0;
    margin-top: 10px;
}

.game-event {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #e5e4e4;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.game-event .left {
    background-color: #363636;
    float: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 195px;
}

.game-event .left h2 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.game-event .left span {
    color: #ff8301;
    margin-left: 5px;
}

.game-event .event-content {
    padding-left: 15px;
    padding-right: 15px;
}

.game-event .event-content p {
    color: #363636;
    float: left;
    font-size: 17px;
    line-height: 50px;
}

.game-event .event-content p a {
    color: #c71b28;
    text-decoration: none;
}

.game-event .event-content .view-detail {
    background: #d21a32 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin: 15px 0 0;
    padding: 3px 5px;
    text-decoration: none;
}

.game-event .left:after {
    border-bottom: 25px solid transparent;
    border-left: 26px solid #363636;
    border-top: 25px solid transparent;
    content: "";
    height: 0;
    left: 100%;
    position: absolute;
    top: 0;
    width: 0;
}

.load-more {
    background-color: #ce1328;
    background-image: linear-gradient(#d6213c, #ce1328);
    border: 1px solid #ab0014;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #fff !important;
    display: block;
    font-size: 14px;
    left: 0;
    padding: 9px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    top: 2px;
    width: 100%;
}

.load-more:hover {
    text-decoration: none;
}

.hocwp-post a.label {
    background: #ff8301 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    padding: 3px 5px;
}

.hocwp-post.label-top-left a.label {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 399;
}

.tructieptop {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.tructieptop .left {
    float: left;
    width: 642px;
}

.tructieptop .right {
    float: right;
    width: 331px;
}

.trainghiemtop h3 {
    background: #ed4848 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 8px 12px;
}

.trainghiemtop h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 0;
    margin-top: 10px;
}

.trainghiemtop h2 a {
    color: #393838;
    text-decoration: none;
}

.videotructiep p.time {
    color: #b9b9b7;
    float: left;
    margin-top: 10px;
}

.trainghiemtop h2 a:hover {
    color: #ed4848;
}

.videotructiep p.time span {
    color: #c90404;
}

.page-template-video .content-area,
.page-template-experience .content-area {
    width: 100%;
}

.loop-sidebar-video li {
    overflow: hidden;
}

.loop-sidebar-video li:nth-child(odd) {
    background-color: #c4c3c3;
}

.loop-sidebar-video .hocwp-post .wp-post-image {
    float: left;
    height: 80px;
    margin-bottom: 0;
    margin-right: 9px;
    margin-top: 0;
    width: 124px;
}

.loop-sidebar-video .hocwp-post .entry-title {
    font-family: Tahoma,sans-serif;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding-right: 7px;
    padding-top: 7px;
}

.loop-sidebar-video .hocwp-post .entry-title a {
    color: #383838;
}

.loop-sidebar-video .hocwp-post .entry-title a:hover {
    color: #ed4848;
}

.loop-sidebar-video {
    background-color: #efefef;
}

.trainghiemnoibat {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.trainghiemnoibat .labeltop {
    float: left;
    width: 100%;
}

.trainghiemnoibat .labeltop h2 {
    background: #ed4848 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 12px;
}

.trainghiemnoibat .list {
    float: left;
    width: 100%;
}

.page-template-experience .list-controls {
    color: #000;
    margin: 0;
    position: absolute;
    right: 0;
    top: -39px;
    z-index: 399;
}

.page-template-experience .list-controls .carousel-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: relative;
    width: auto;
}

.page-template-experience .list-controls .carousel-indicators {
    bottom: auto;
    left: auto;
    margin: 0;
    position: relative;
    top: auto;
    vertical-align: middle;
    width: auto;
}

.page-template-experience .list-controls .carousel-control {
    display: block;
    height: 22px;
    width: 22px;
    opacity: 1;
}

.boxtrainghiem .hocwp-post.small-video .icon-play,
#trai_nghiem_noi_bat .hocwp-post .icon-play,
.page-template-experience .list-controls .carousel-control {
    background: rgba(0, 0, 0, 0) url("../images/video-sprite.png") no-repeat scroll 0 0;
}

.page-template-experience .list-controls .carousel-control * {
    display: none;
}

.page-template-experience .list-controls .carousel-control.left {
    background-position: 0 -68px;
}

.page-template-experience .list-controls .carousel-control.right {
    background-position: -22px -68px;
}

.page-template-experience .list-controls .carousel-control.left:hover {
    background-position: 0 -90px;
}

.page-template-experience .list-controls .carousel-control.right:hover {
    background-position: -22px -90px;
}

.page-template-experience .list-controls .carousel-paginate {
    background: #d6d6d6 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 0 3px;
    padding: 0;
    vertical-align: middle;
    width: 8px;
}

.page-template-experience .list-controls .carousel-paginate:hover,
.page-template-experience .list-controls .carousel-paginate.active {
    background: #ea642c none repeat scroll 0 0;
}


.page-template-experience .list-controls li {
    display: table-cell;
    vertical-align: middle;
}


#trai_nghiem_noi_bat .hocwp-post {
    float: left;
    margin: 20px 27px 0 0;
    position: relative;
    width: 178px;
}

#trai_nghiem_noi_bat .hocwp-post:last-child {
    margin-right: 0;
}

.boxtrainghiem .hocwp-post.small-video .icon-play,
#trai_nghiem_noi_bat .hocwp-post .icon-play {
    background-position: 0 -117px;
    display: block;
    height: 35px;
    left: 15%;
    position: absolute;
    top: 70px;
    width: 35px;
}

#trai_nghiem_noi_bat .hocwp-post .wp-post-image {
    float: left;
    height: 102px;
    width: 178px;
}

#trai_nghiem_noi_bat .hocwp-post .entry-title {
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 10px;
}

#trai_nghiem_noi_bat .hocwp-post .entry-title a {
    color: #333;
    text-decoration: none;
}

#trai_nghiem_noi_bat .hocwp-post .entry-title a:hover {
    color: #ed4848;
}

.trainghiemborder {
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
}

.mgt15 {
    margin-top: 15px;
}

.mgt20 {
    margin-top: 20px;
}

.boxtrainghiem {
    float: left;
    width: 100%;
}

.boxtrainghiem .labeltop {
    float: left;
    width: 100%;
}

.boxtrainghiem .labeltop h2 {
    background: #46ad63 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 12px;
    text-transform: uppercase;
}

.boxtrainghiem .list {
    float: left;
    width: 100%;
}

.boxtrainghiem .big-video {
    float: left;
    position: relative;
    width: 500px;
}

.boxtrainghiem .small-video {
    float: left;
    height: 200px;
    margin-left: 32px;
    overflow: hidden;
    position: relative;
    width: 217px;
}

.boxtrainghiem .hocwp-post .entry-title {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 10px;
}

.boxtrainghiem .hocwp-post .entry-title a {
    color: #222;
    text-decoration: none;
}

.boxtrainghiem .hocwp-post .entry-title a:hover {
    color: #46ad63;
}

.boxtrainghiem .big-video .hocwp-post .entry-title {
    font-size: 18px;
    line-height: 25px;
}

.boxtrainghiem .hocwp-post.small-video .icon-play {
    top: 90px;
}

.boxtrainghiem .big-video .hocwp-post .icon-play {

}

.page-template-experience .site-main .trainghiemborder:last-child,
.page-template-experience .boxtrainghiem:last-child + .trainghiemborder {
    display: none;
}

p.search_result {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.page-template-video {
    background-color: #2c2b2b;
}

.page-template-video .video-box {
    background-color: #dbdada;
}

.page-template-video .video-box .video-desc {
    padding: 11px 15px 10px;
}

.page-template-video .video-box .video-desc > h2 {
    margin-top: 0;
}

.page-template-video .video-box .video-desc > h2 a {
    color: #383838;
}

.page-template-video .video-box .time a {
    color: #ed4848;
    font-family: Tahoma;
    font-weight: bold;
    text-decoration: none;
}

.page-template-video .video-box .left {
    width: 687px;
}

.page-template-video .video-box .right {
    width: 310px;
}

.videotructiep iframe {
    width: 100%;
}

.videosamecattitle {
    background-color: #434242;
    height: 38px;
    width: 100%;
}

.videosamecattitle h4 {
    color: #fff;
    font-family: "UTM Bebas",sans-serif;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
}

.videoredtitle {
    color: #f66363;
}

.videocatlist .title {
    background-color: #545353;
    height: 39px;
    position: relative;
    width: 100%;
}

.videocatlist .title h3 {
    color: #fff;
    font-family: UTM Bebas,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 39px;
    margin: 0;
    padding: 0 10px;
}

.videocatlist .title h3 a {
    color: #fff;
    position: absolute;
    right: 11px;
    text-decoration: none;
}

.page-template-video .video-box .list .hocwp-post {
    float: left;
    margin: 14px 9px;
    width: 182px;
}

.page-template-video .video-box .list .hocwp-post .entry-title {
    font-family: Tahoma,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 5px;
}

.page-template-video .video-box .list .hocwp-post .entry-title a {
    color: #383838;
    text-decoration: none;
}

.page-template-video .video-box .list .hocwp-post:hover {
    background-color: #ed4848;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 10px;
    padding: 5px;
}

.page-template-video .video-box .list .hocwp-post:hover .entry-title a {
    color: #fff;
    transition: none;
}

.page-template-video .video-box .list .hocwp-post:nth-child(5n + 1) {
    clear: both;
}

.page-template-video .video-box .list .hocwp-post .wp-post-image {
    height: 120px;
}

.site-main .entry-header .entry-title {
    color: #2b2a2a;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
}

.site-main .hocwp-post .entry-content {
    font-size: 14px;
    line-height: 21px;
}

.site-main .entry-header {
    margin-bottom: 20px;
    overflow: hidden;
}

.site-main .post-bar {
    border-left: 5px solid #ed4848;
    overflow: hidden;
}

.site-main .post-bar .category-link {
    background: #eae9e9 none repeat scroll 0 0;
    color: #8c8d8c;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.site-main .post-bar a {
    float: left;
    text-decoration: none;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    border-radius: 0;
}

.site-main .post-bar .label {
    background: #ec5f5f none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.single .site-main .entry-header {
    margin-bottom: 5px;
}

.single .site-main .entry-meta {
    margin-bottom: 10px;
}

.single .site-main .entry-meta {
    color: #666464;
    float: left;
    font-size: 13px;
    width: 100%;
}

.single .site-main .entry-meta a {
    color: #ed4848;
    font-style: italic;
    font-weight: bold;
}

.single .site-main .leftdetail {
    background: #f2f1f1 none repeat scroll 0 0;
    float: left;
    margin-top: 20px;
    width: 170px;
}

.single .site-main .rightdetail {
    float: right;
    margin-top: 20px;
    width: 503px;
}

.single .site-main .entry-content .first-paragraph {
    olor: #525050;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
}

.single .site-main .list-tags span {
    font-weight: 700;
    margin-right: 5px;
}

.single .site-main .list-tags a {
    background-color: #eee;
    border-radius: 3px;
    color: #414141;
    display: inline-block;
    float: none;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 6px;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.single .site-main .list-tags a:hover {
    background-color: #ed4848;
    color: #fff;
}

.single .site-main .bottom-ads {
    background: #f2f1f1 none repeat scroll 0 0;
    border: 1px solid #dad9d9;
    float: left;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
}

.leftdetail p.namebox {
    border-bottom: 1px solid #dad9d9;
    border-top: 3px solid #ec5f5f;
    color: #ed4848;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 8px 0 8px 10px;
    width: 100%;
}

.leftdetail ul li {
    border-bottom: 1px solid #dad9d9;
    border-top: 1px solid #fff;
    float: left;
    padding: 10px 0 15px;
    width: 100%;
}

.leftdetail .list-posts {
    margin: 0;
}

.leftdetail .list-posts .hocwp-post .entry-title {
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    margin: 0;
}

.leftdetail .list-posts .hocwp-post .entry-title a {
    color: #484747;
    text-decoration: none;
}

.leftdetail .list-posts .hocwp-post .entry-title a {
    background: rgba(0, 0, 0, 0) url("../images/icon-newspaper.png") no-repeat scroll left center / 18px 13px;
    display: block;
    padding-left: 25px;
}

.leftdetail .list-posts .with-thumb .hocwp-post .entry-title {
    background-color: #d8d8d8;
    font-weight: 700;
    padding: 5px 10px;
}

.leftdetail .list-posts .with-thumb .hocwp-post .entry-title a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #626161;
    padding: 0;
}

.leftdetail .tinlienquan .list-posts .with-thumb .hocwp-post .entry-title {
    background-color: #4ea566;
}

.leftdetail .tinlienquan .list-posts .with-thumb .hocwp-post .entry-title a {
    color: #fff;
}

.section-bar {
    background: #eae9e9 none repeat scroll 0 0;
    border-left: 5px solid #ed4848;
    color: #4e4d4d;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
}

.comments-area .comments-title {
    display: none;
}

.tabnoibatandmoinhan {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    display: block;
    height: 38px;
    margin-bottom: 16px;
    width: 100%;
}

.tinnoibatdetail {
    float: left;
    padding-left: 7px;
    position: relative;
    width: 303px;
}

.tinhotdetail {
    float: right;
    font-family: Roboto-Condensed;
    padding-right: 10px;
    position: relative;
    width: 303px;
}

.tabtinnoibatdetail {
    color: #d62853;
    font-family: UTM Bebas;
    font-size: 22px;
    height: 28px;
    left: 14px;
    line-height: 33px;
    padding: 0 9px;
    position: absolute;
    top: -45px;
}

.tabtinhotdetail {
    color: #d62853;
    font-family: UTM Bebas;
    font-size: 22px;
    height: 28px;
    left: 0;
    line-height: 33px;
    padding: 0 9px;
    position: absolute;
    top: -45px;
}

.most-view-most-new .tab-item {
    background-color: #fff;
    border-color: #e5e5e5 #e5e5e5 #fff;
    border-style: solid;
    border-width: 1px;
    top: -44px;
}

.most-view-most-new .hocwp-post .entry-title {
    float: left;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 7px;
    margin-top: 9px;
    width: 100%;
}

.most-view-most-new .hocwp-post .entry-title a {
    color: #2b2b2b;
    text-decoration: none;
}

.most-view-most-new .hocwp-post .entry-title a:hover {
    color: #ed4848;
}

.most-view-most-new li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 15px;
}

.most-view-most-new li .hocwp-post p {
    color: #656565;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
}

.cothequantam ul li {
    background-color: #eae9e9;
    float: left;
    margin: 20px 0 0 18px;
    overflow: hidden;
    position: relative;
    width: 218px;
}

.cothequantam ul li:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
}

.cothequantam .hocwp-post .entry-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    margin: 0;
    padding: 10px;
}

.cothequantam .hocwp-post .entry-title a {
    color: #323131;
    text-decoration: none;
}

.cothequantam .hocwp-post .entry-title a:hover {
    color: #ed4848;
}
































.site-footer {
    background: #525252 none repeat scroll 0 0;
    clear: both;
    margin-top: 30px;
    width: 100%;
}

.site-footer .footer-menus {
    background: #131313 none repeat scroll 0 0;
    height: 36px;
}

.site-footer .footer-info {
    padding: 10px 0;
}

.site-footer .footer-menus ul {
    margin: 0;
}

.site-footer .footer-menus li a {
    font-size: 11px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
}

.site-footer .footer-info {
    color: #ccc;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 18px;
}

.site-footer .footer-info .left-info a {
    color: #fd8002;
}

.mobile-menus-bar {
    background-color: #ed4848;
    height: 43px;
    width: 100%;
}

.mobile-menus-bar ul {
    margin: 0;
}

.mobile-menus-bar li {
    border-left: 1px solid #fff;
    color: #fff;
    float: right;
    height: 43px;
    line-height: 43px;
    padding: 0 10px;
}

.mobile-menus-bar li:first-child {
    border: medium none;
    float: left;
}

.mobile-menus-bar li .fa {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 5px;
    text-align: center;
}

.mobile-menus-bar li .text {
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 2px;
    text-transform: uppercase;
}

.mobile-menus-bar li a {
    color: #fff;
    text-decoration: none;
}

.mobile-menus-bar li img {
    max-height: 43px;
    width: auto;
}

.mobile-menus-bar .logo a {
    display: block;
    line-height: 17px;
}

.mobile-menus-bar,
.mobile-menus {
    display: none;
}

.page-template-search-page .site-content .search-form label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.page-template-search-page .site-content .search-form .search-field {
    background-color: #ddd;
    border: medium none;
    border-radius: 3px;
    color: #999;
    display: block;
    font-weight: 400;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}

.page-template-search-page .site-content .search-form .search-submit {
    background-color: #ed4848;
    border-color: #ed4848;
    border-radius: 5px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
}

.mobile-menus-bar .menu-control {
    cursor: pointer;
}

.mobile-menus li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 5px;
}

.mobile-menus li:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.mobile-menus li a {
    background-color: #e5e5e5;
    border: medium none;
    border-radius: 3px;
    display: block;
}

.mobile-menus li .sub-menu {
    display: none;
}

.mobile-menus li {
    text-align: center;
    width: 33.33%;
}

.archive .paging {
    display: none;
}

.mobile-menus .hocwp-menu {
    width: 100%;
}

/* ==================== Responsive ==================== */

@media only screen and (max-width: 1403px) {

}

@media only screen and (max-width: 1240px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {
    .container {
        padding: 0 10px;
        width: 100%;
    }

    .top-banner,
    .top-socials,
    .primary-menus,
    .secondary-menus {
        display: none;
    }

    .site-content .col-left,
    .site-content .col-right,
    .content-area,
    .sidebar {
        width: 100%;
    }

    .four-recent-posts .post .entry-title {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
        position: static;
    }

    .four-recent-posts .col-right .hocwp-post:nth-child(2) .wp-post-image, .four-recent-posts .col-left .hocwp-post:nth-child(2) .wp-post-image,
    .four-recent-posts .col-right .hocwp-post:first-child .wp-post-image, .four-recent-posts .col-left .hocwp-post:first-child .wp-post-image,
    .post-thumbnail .wp-post-image {
        height: auto;
    }

    .four-recent-posts .post .entry-title a {
        color: #333;
        padding-left: 0;
        padding-right: 0;
        text-shadow: none;
    }

    .six-recent-posts .post {
        width: 49%;
    }

    .sidebar {
        display: none;
    }

    .hocwp-post .icon-play {
        top: 49%;
    }

    .four-recent-posts .col-left .hocwp-post:first-child .entry-title a {
        color: #ed4848;
    }

    .footer-info .row {
        margin: 0;
    }

    .footer-info .left-info {
        padding-left: 0;
    }

    .footer-info .right-info {
        padding-right: 0;
    }

    .mobile-menus-bar {
        display: block;
    }

    .site-header.menu-open .mobile-menus {
        display: block;
    }

    .site.menu-open .site-content {
        display: none;
    }

    .hocwp .hocwp-pagination {
        display: none;
    }

    .archive .paging {
        display: block;
    }

    .tructieptop .right {
        margin-top: 10px;
        width: 100%;
    }

    .labeltop h2 {
        margin-top: 0;
    }

    #trai_nghiem_noi_bat .hocwp-post {
        margin-right: 0;
        width: 100%;
    }

    #trai_nghiem_noi_bat .hocwp-post .wp-post-image {
        margin-right: 10px;
    }

    #trai_nghiem_noi_bat .hocwp-post .entry-title {
        margin-top: 0;
    }

    .boxtrainghiem .big-video {
        margin-bottom: 20px;
        width: 100%;
    }

    .boxtrainghiem .big-video .hocwp-post .entry-title {
        width: 100%;
    }

    .boxtrainghiem .small-video {
        float: left;
        height: auto;
        margin-left: 0;
        margin-right: 15px;
        overflow: hidden;
        width: 49%;
    }

    .boxtrainghiem .small-video:nth-child(odd) {
        margin-right: 0;
    }

    .boxtrainghiem .small-video:nth-child(even) {
        clear: both;
    }

    .boxtrainghiem .hocwp-post.small-video .icon-play, #trai_nghiem_noi_bat .hocwp-post .icon-play {
        left: 25px;
    }

    .page-template-video .video-box .right,
    .page-template-video .video-box .left {
        width: 100%;
    }

    .page-template-video .video-box .list .hocwp-post {
        clear: none;
        margin: 0;
        padding: 5px;
        width: 50%;
    }

    .page-template-video .video-box .list .hocwp-post:nth-child(5n+1) {
        clear: none;
    }

    .page-template-video .video-box .list .hocwp-post .wp-post-image {
        height: auto;
    }

    .page-template-video .video-box .list .hocwp-post:hover {
        margin: 0;
    }

    .page-template-video .video-box.featured .list .hocwp-post {
        width: 100%;
    }

    .page-template-video .video-box .list .hocwp-post:nth-child(odd) {
        clear: both;
    }

    .single .site-main .rightdetail {
        width: calc(100% - 200px);
    }

    .cothequantam ul li {
        width: 32%;
    }

    .single .tinhotdetail,
    .single .tinnoibatdetail {
        width: 48%;
    }
}

@media only screen and (max-width: 955px) {

}

@media only screen and (max-width: 880px) {
    .hocwp-post .icon-play {
        top: 48%;
    }

    .cothequantam ul li {
        width: 31%;
    }
}

@media only screen and (max-width: 800px) {
    .tructieptop .left {
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .hocwp-post .icon-play {
        top: 47%;
    }
}

@media only screen and (max-width: 768px) {
    .boxtrainghiem .small-video,
    .six-recent-posts .post {
        width: 48%;
    }
}

@media only screen and (max-width: 740px) {
    .list-sidebar-posts li .hocwp-post .icon-play {
        top: 50%;
    }

    .footer-info .row > div {
        padding: 0;
    }
}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 640px) {
    .loop-default li .wp-post-image {
        width: 40%;
    }

    .loop-default .hocwp-post.icon-play-medium .icon-play {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 620px) {
    .loop-default li .post p {
        display: none;
    }

    .loop-default li .wp-post-image {
        height: 130px;
    }

    .game-event .event-content p {
        line-height: 25px;
    }

    .game-event .event-content .view-detail {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-menus li {
        width: 50%;
    }

    #trai_nghiem_noi_bat .hocwp-post .entry-title {
        float: none;
    }

    .single .site-main .bottom-ads * {
        max-width: 100%;
    }
}

@media only screen and (max-width: 568px) {
    .hocwp-post .icon-play {
        top: 37%;
    }

    .loop-default li .hocwp-post .icon-play {
        top: 50%;
    }

    .hocwp-post.icon-play-medium.with-text .icon-play {
        margin-top: -32px;
    }

    .single .site-main .leftdetail {
        display: none;
    }

    .single .site-main .rightdetail {
        width: 100%;
    }
}

@media only screen and (max-width: 563px) {
    .single .site-main .bottom-ads * {
        height: auto;
    }
}

@media only screen and (max-width: 549px) {

}

@media only screen and (max-width: 534px) {

}

@media only screen and (max-width: 480px) {
    .loop-default li .post .entry-title {
        font-size: 17px;
        line-height: 21px;
    }

    .loop-default li .wp-post-image {
        height: 110px;
    }

    .loop-default .hocwp-post.icon-play-medium .icon-play {
        background-size: 40px auto;
        margin-left: 15%;
        margin-top: -20px;
    }

    .four-recent-posts .col-right .hocwp-post:nth-child(2) .wp-post-image, .four-recent-posts .col-left .hocwp-post:nth-child(2) .wp-post-image, .four-recent-posts .col-right .hocwp-post:first-child .wp-post-image, .four-recent-posts .col-left .hocwp-post:first-child .wp-post-image, .post-thumbnail .wp-post-image {
        max-height: 250px;
    }

    .hocwp-post.icon-play-medium.with-text .icon-play {
        background-size: 50px auto;
        margin-left: -25px;
        margin-top: -25px;
    }

    .hocwp-menu.footer {
        display: none;
    }

    .four-recent-posts .hocwp-post .wp-post-image {
        height: 200px !important;
    }

    .four-recent-posts .hocwp-post .icon-play {
        top: 95px;
    }

    .hocwp-post.icon-play-medium.with-text .icon-play {
        top: 75px;
    }

    .loop-new-information li .post .wp-post-image {
        float: none;
        margin: 0;
        width: 100%;
    }

    .videotructiep iframe {
        height: 250px;
    }

    .boxtrainghiem .big-video .hocwp-post .icon-play {
        background-size: 100% auto !important;
        margin-left: -32px !important;
        top: 32% !important;
    }

    .cothequantam ul li:nth-child(3n+1),
    .cothequantam ul li {
        clear: none;
        margin-left: 18px;
        width: 48%;
    }

    .cothequantam ul li:nth-child(odd) {
        clear: both;
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .six-recent-posts .post {
        width: 47%;
    }

    .six-recent-posts .post:nth-child(2n) {
        margin-left: 12px;
    }

    .hocwp-post.icon-play-medium.with-text .icon-play {
        background-size: 30px auto;
        margin-left: -15px;
        margin-top: -35px;
    }

    .hocwp-post.icon-play-medium.with-text .icon-play {
        top: 65px;
    }

    .loop-default li .post .post-meta {
        margin-top: 5px;
    }

    .loop-default li .post .entry-title {
        font-size: 14px;
        line-height: 19px;
    }

    .loop-default li .wp-post-image {
        width: 45%;
    }

    .loop-default li .post .post-meta a {
        display: none;
    }

    .loop-default li .post .post-meta a:first-child {
        display: inline-block;
    }

    .trainghiemnoibat .labeltop h2,
    .boxtrainghiem .labeltop h2 {
        width: 100%;
    }

    .boxtrainghiem .small-video, .six-recent-posts .post {
        width: 47%;
    }

    .boxtrainghiem .hocwp-post.small-video .icon-play, #trai_nghiem_noi_bat .hocwp-post .icon-play {
        top: 25px;
    }

    #trai_nghiem_noi_bat .hocwp-post .wp-post-image {
        width: 45%;
    }

    .page-template-experience .list-controls {
        top: -36px;
    }

    .cothequantam ul li:nth-child(3n+1), .cothequantam ul li {
        width: 47%;
    }

    .most-view-most-new .hocwp-post .entry-title {
        font-size: 14px;
        line-height: 19px;
    }
}

@media only screen and (max-width: 338px) {
    .videocatlist .title h3 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 330px) {

}

@media only screen and (max-width: 320px) {

}

/* ==================== Print page ==================== */

@media print {

}